@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  font-family: 'Open Sans';
}

table {
  table-layout: auto;
}

.top-center {
  top: 50%;
  transform: translateY(-50%)
}

.top\-\1\/55 {
  top: 50%;
  transform: translateY(-50%)
}

.outline-solid {
  outline-style: solid;
}

.mainSwiper .swiper-wrapper {
  /* height: inherit; */
  /* @apply bg-gray-200 */
}

.gallerySwiper .swiper-wrapper {
}

.gallerySwiper .swiper-slide-thumb-active {
      border: inset 4px;
      border-color: #3db730;
      border-style: solid;
      /* padding: 2px; */
}
.mainSwiper img {
  /* max-height: 900px; */
}